
<div class="container mt-3">
    <table class="table table-dark table-striped">
        <thead class="thead">
          <tr>
            <th>Codigo</th>
            <th>Cat. do Produto</th>
            <th>Data</th>
            <th>Qtd</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{order.code}}</td>
            <td>{{order.category}}</td>
            <td>{{order.date | date: "dd/MM/yyyy"}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.value | currency : 'BRL'}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>{{totalPedidos}}</td>
            <td>{{totalOrderValue | currency : 'BRL'}}</td>
          </tr>
        </tfoot>
      </table>
</div>
<nav class="container">
  <ul class="pagination">
    <li class="page-item" *ngFor="let page of pages" value="{{ page }}" (click)="getOrdersCurrentList(page)" routerLink="{{page}}"><a class="page-link">{{ page }}</a></li>
  </ul>
</nav>
