<!-- <input type="file" class="file-input"  #fileUpload/>
<div class="file-upload container"> -->

  <!-- <button mat-mini-fab color="primary" class="upload-btn m-5" (click)="fileUpload.click()">
    Enviar Arquivo
  </button>
</div> -->

<div class="file_upload-section container">
    <div class="input-group mt-3  w-50">
        <input type="file" class="form-control" id="inputGroupFile02" (change)="onChange($event)">
        <button class="input-group-text" for="inputGroupFile02" (click)="onUpload()">Upload</button>
    </div>
    <div class="input-group mt-3 w-50">
        <button class="input-group-text" for="" disabled *ngIf="loading">Loading...</button>
        <button class="input-group-text" for="" routerLink="orderList" *ngIf="event">Carregar Planilha</button>
    </div>
    <div class="input-group mt-3 w-50">
        <button class="input-group-text" for="" (click)="onClean()" routerLink="" *ngIf="clean">Limpar Dados</button>
    </div>
</div>
